.header {
  @include flex(space-between, center);
  user-select: none;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px 1px;

  @include responsive-small {
    padding: 12px 10px;
  }

  @include theme-light {
    background-color: rgba($light, 0.4);
  }

  @include theme-dark {
    background-color: rgba($dark, 0.7);
    color: $light;
  }

  .logo {
    @include flex;
    gap: 7px;
    cursor: pointer;

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 21px;
      line-height: 29px;
      font-weight: 500;
    }
  }

  .theme-toggler {
    font-size: 24px;
    cursor: pointer;

    @include theme-dark {
      font-size: 21px;
    }
  }
}
