.header {
  @include flex(space-between, center);
  user-select: none;
  padding: 17px 20px;
  color: $dark;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  background-color: $primary-color;
  color: $white;

  @include responsive-small {
    padding: 12px 20px;
  }

  .logo {
    @include flex;
    gap: 7px;
    cursor: pointer;

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 21px;
      line-height: 29px;
      font-weight: 500;
    }
  }

  .theme-toggler {
    font-size: 24px;
    cursor: pointer;

    @include theme-dark {
      font-size: 21px;
    }
  }
}
