.header {
  @include flex(space-between, center);
  user-select: none;
  padding: 17px 20px;
  color: $dark;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  background-color: $primary-color;
  color: $white;

  @include responsive-small {
    padding: 12px 10px;
  }

  .nav-items {
    @include flex(center, center);
    gap: 13px;

    @include responsive-small {
      gap: 10px;
    }
  }

  .logo {
    @include flex;
    gap: 7px;
    cursor: pointer;
    color: $light;

    &__icon {
      font-size: 25px;
    }

    &__text {
      font-size: 21px;
      line-height: 29px;
      font-weight: 500;
    }
  }

  .theme-toggler {
    @include flex(center, center);
    font-size: 24px;
    cursor: pointer;
    color: $light;

    &:hover {
      color: $dark;
    }

    @include theme-dark {
      font-size: 21px;
    }
  }

  .link {
    @include flex(center, center);
    gap: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;
    height: 20px;
    cursor: pointer;
    color: $light;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: $dark;
    }

    &__icon {
      width: 26px;
      height: 26px;
    }

    @include responsive-small {
      &__text {
        display: none;
      }
    }
  }
}
