.search {
  @include flex(space-between, center);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  border-radius: 5px;
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
  padding: 13px 15px;

  @include responsive-small {
    max-width: 300px;
    padding: 10px 15px;
    margin-top: 15px;
  }

  @include theme-light {
    background-color: $grey-light;
    color: $dark;
  }

  @include theme-dark {
    background-color: $grey-dark;
    color: $light;
  }

  &__box {
    background-color: transparent !important;
    overflow: hidden;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;

    &::placeholder {
      transition: inherit;

      @include theme-dark {
        color: $grey-light;
      }
      @include theme-light {
        color: $grey-dark;
      }
    }

    &:focus::placeholder {
      color: transparent !important;
    }

    @include theme-light {
      color: $dark;
    }

    @include theme-dark {
      color: $light;
    }
  }

  &__icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;

    @include theme-light {
      color: $dark;
    }

    @include theme-dark {
      color: $light;
    }
  }
}
